<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/sprang0/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sprang@gmail.com" />
            <add key="ClearTextPassword" value="7b2f8d080a3e74014edf6dc00e14dbb319e97697" />
        </github>
    </packageSourceCredentials>
</configuration>