<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/sprang0/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sprang@gmail.com" />
            <add key="ClearTextPassword" value="62819b5c6cff59f28d81c6e3c4a17186b71d857b" />
        </github>
    </packageSourceCredentials>
</configuration>